[Unit]
Description=Periodically verify WSL interoperability

[Timer]
OnBootSec=2s
OnUnitInactiveSec=5s
AccuracySec=1s

[Install]
WantedBy=timers.target
